.cache
.coverage
.DS_Store
.eslintcache
.mypy_cache
.next
.nox
.nuxt
.parcel-cache
.phpunit.result.cache
.pyre
.pytest_cache
.ruff_cache
.svelte-kit
.tox
.turbo
.vite
.zig-cache
__pycache__
bootstrap/cache/*.php
CMakeCache.txt
compile_commands.json
coverage
htmlcov
node_modules/.cache
storage/framework/cache/data/*
storage/framework/views/*
Thumbs.db
xmake-cache
zig-cache
*.pyc
*:Zone.Identifier
.dart_tool
.eggs
.expo
.flutter-plugins
.flutter-plugins-dependencies
.gradle
.idea
.lua
.mojo
.mojopkg
.mvn
.node_modules
.npm
.output
.pixi
.pnpm-store
.pub-cache
.svn
.venv
.vercel
.vs
.vscode
.xmake
.xmake_cache
.yarn
.bin
bower_components
build
cmake-build-*
CMakeFiles
corpus
criterion
dist
env
luarocks
lua_modules
node_modules
obj
out
pip-wheel-metadata
public/build
public/hot
public/storage
storage/*.key
storage/framework/sessions/*
storage/logs/*.log
target
tmp
vendor
venv
wheels
xmake-build
zig-out
.tmp
.temp
.Trashes
.Spotlight-V100
*.bak
*.cache
*.egg-info
*.exe
*.gcda
*.gcno
*.gcov
*.lcov
*.log
*.o
*.obj
*.orig
*.out
*.pyd
*.profdata
*.profraw
*.rs.bk
*.rs.tmp
*.so
*.swp
*.swo
*.test
*.tsbuildinfo
*~
.nyc_output
.phpactor.json
.phpunit.cache
artifacts
clover.xml
cobertura.xml
codecov.json
composer.phar
coverage.out
Desktop.ini
ehthumbs.db
lcov.info
llvm-cov.json
perf.data*
.git
.env*
.var*
.secret*
!.env*.sample
!.env*.example
!.env*.template
!.var*.sample
!.var*.example
!.var*.template
!.secret*.sample
!.secret*.example
!.secret*.template
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
Homestead.*
.pnp.*
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
*.cosign.sig
*.cosign.crt
*.cosign.bundle
docker-deploy.sh
docker-compose.yml
docker-compose.yaml
docker-compose.*.yml
docker-compose.*.yaml
