NEXT_PUBLIC_APP_NAME=Zain Lak
NEXT_PUBLIC_APP_LOCALE=en

NEXT_PUBLIC_API_URL=http://localhost:8000/v1
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_APP_DESCRIPTION=Enterprise web platform

GOOGLE_API_KEY=
GOOGLE_API_SECRET=
